services:
  airybot:
    build:
      context: .
      dockerfile: Bots.dockerfile
    container_name: airy-bot
    command: ["AiryBot/AiryBotCode.AiryBot.dll"]
    restart: always
    environment:
      - DOTNET_RUNNING_IN_CONTAINER=true
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=airy_db;Username=airy_user;Password=Forest_Carrot_93@Night
    volumes:
      # Ensure you have an 'appsettings.json' file in this bot's directory
      - ./Bots/AiryBotCode.AiryBot/appsettings.json:/app/AiryBot/appsettings.json
    depends_on:
      - db

  airyguardian:
    build:
      context: .
      dockerfile: Bots.dockerfile
    container_name: airy-guardian
    command: ["AiryGuardian/AiryBotCode.AiryGuardian.dll"]
    restart: always
    environment:
      - DOTNET_RUNNING_IN_CONTAINER=true
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=airy_db;Username=airy_user;Password=Forest_Carrot_93@Night
    volumes:
      # Ensure you have an 'appsettings.json' file in this bot's directory
      - ./Bots/AiryBotCode.AiryGuardian/appsettings.json:/app/AiryGuardian/appsettings.json
    depends_on:
      - db

  airydevbot:
    build:
      context: .
      dockerfile: Bots.dockerfile
    container_name: airy-dev-bot
    command: ["AiryDevBot/AiryBotCode.AiryDevBot.dll"]
    restart: always
    volumes:
      # Ensure you have an 'appsettings.json' file in this bot's directory
      - ./Bots/AiryBotCode.AiryDevBot/appsettings.json:/app/AiryDevBot/appsettings.json
    depends_on:
      - db

  airydevsecondbot:
    build:
      context: .
      dockerfile: Bots.dockerfile
    container_name: airy-dev-second-bot
    command: ["AiryDevSecondBot/AiryBotCode.AiryDevSecondBot.dll"]
    restart: always
    volumes:
      # Ensure you have an 'appsettings.json' file in this bot's directory
      - ./Bots/AiryBotCode.AiryDevSecondBot/appsettings.json:/app/AiryDevSecondBot/appsettings.json
    depends_on:
      - db

  db:
    image: postgres:latest
    container_name: airy-postgres-db
    environment:
      - POSTGRES_DB=airy_db
      - POSTGRES_USER=airy_user
      - POSTGRES_PASSWORD=Forest_Carrot_93@Night
    ports:
      - "5432:5432"
    volumes:
      - airy_postgres_data:/var/lib/postgresql/data

volumes:
  airy_postgres_data:
