services:
  launcher:
    build:
      context: .
      dockerfile: AiryBotCode.Launcher/Dockerfile
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - .:/app
    working_dir: /app
